USE [SekolahDB]
GO
/****** Object:  Table [dbo].[Jurusan]    Script Date: 26/08/2026 10:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jurusan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NamaJurusan] [varchar](100) NULL,
 CONSTRAINT [PK_Jurusan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siswa]    Script Date: 26/08/2026 10:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siswa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [varchar](100) NULL,
	[Umur] [int] NULL,
	[Alamat] [text] NULL,
	[JurusanID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Siswa]  WITH CHECK ADD  CONSTRAINT [FK_Siswa_Jurusan] FOREIGN KEY([JurusanID])
REFERENCES [dbo].[Jurusan] ([Id])
GO
ALTER TABLE [dbo].[Siswa] CHECK CONSTRAINT [FK_Siswa_Jurusan]
GO
