USE [master]
GO
/****** Object:  Database [BromoAirlines]    Script Date: 27/08/2026 20:10:20 ******/
CREATE DATABASE [BromoAirlines]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BromoAirlines', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BromoAirlines.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BromoAirlines_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BromoAirlines_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BromoAirlines].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BromoAirlines]
GO
/****** Object:  Table [dbo].[Akun]    Script Date: 27/08/2026 20:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Akun](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](200) NOT NULL,
	[Password] [varchar](200) NOT NULL,
	[Nama] [varchar](200) NOT NULL,
	[TanggalLahir] [date] NOT NULL,
	[NomorTelepon] [varchar](20) NOT NULL,
	[MerupakanAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_Akun] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Akun_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bandara]    Script Date: 27/08/2026 20:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bandara](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [varchar](200) NOT NULL,
	[KodeIATA] [varchar](5) NOT NULL,
	[Kota] [varchar](200) NOT NULL,
	[NegaraID] [int] NOT NULL,
	[JumlahTerminal] [int] NOT NULL,
	[Alamat] [text] NOT NULL,
 CONSTRAINT [PK_Bandara] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Bandara_KodeIATA] UNIQUE NONCLUSTERED 
(
	[KodeIATA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Bandara_Nama] UNIQUE NONCLUSTERED 
(
	[Nama] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JadwalPenerbangan]    Script Date: 27/08/2026 20:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JadwalPenerbangan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KodePenerbangan] [varchar](10) NOT NULL,
	[BandaraKeberangkatanID] [int] NOT NULL,
	[BandaraTujuanID] [int] NOT NULL,
	[MaskapaiID] [int] NOT NULL,
	[TanggalWaktuKeberangkatan] [datetime] NOT NULL,
	[HargaPerTiket] [float] NOT NULL,
	[DurasiPenerbangan] [int] NOT NULL,
 CONSTRAINT [PK_JadwalPenerbangan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KodePromo]    Script Date: 27/08/2026 20:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KodePromo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Kode] [varchar](100) NOT NULL,
	[PersentaseDiskon] [float] NOT NULL,
	[MaksimumDiskon] [float] NOT NULL,
	[BerlakuSampai] [date] NOT NULL,
	[Deskripsi] [text] NOT NULL,
 CONSTRAINT [PK_KodePromo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_KodePromo_Kode] UNIQUE NONCLUSTERED 
(
	[Kode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maskapai]    Script Date: 27/08/2026 20:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maskapai](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [varchar](200) NOT NULL,
	[Perusahaan] [varchar](200) NOT NULL,
	[JumlahKru] [int] NOT NULL,
	[Deskripsi] [text] NOT NULL,
 CONSTRAINT [PK_Maskapai] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Negara]    Script Date: 27/08/2026 20:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Negara](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [varchar](200) NOT NULL,
	[IbukotaNegara] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Negara] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerubahanStatusJadwalPenerbangan]    Script Date: 27/08/2026 20:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerubahanStatusJadwalPenerbangan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JadwalPenerbanganID] [int] NOT NULL,
	[StatusPenerbanganID] [int] NOT NULL,
	[WaktuPerubahanTerjadi] [datetime] NOT NULL,
	[PerkiraanDurasiDelay] [int] NULL,
 CONSTRAINT [PK_PerubahanStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusPenerbangan]    Script Date: 27/08/2026 20:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusPenerbangan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [varchar](200) NOT NULL,
 CONSTRAINT [PK_StatusPenerbangan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransaksiDetail]    Script Date: 27/08/2026 20:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransaksiDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TransaksiHeaderID] [int] NOT NULL,
	[TitelPenumpang] [varchar](20) NOT NULL,
	[NamaLengkapPenumpang] [varchar](200) NOT NULL,
 CONSTRAINT [PK_TransaksiDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransaksiHeader]    Script Date: 27/08/2026 20:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransaksiHeader](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AkunID] [int] NOT NULL,
	[TanggalTransaksi] [datetime] NOT NULL,
	[JadwalPenerbanganID] [int] NOT NULL,
	[JumlahPenumpang] [int] NOT NULL,
	[TotalHarga] [float] NOT NULL,
	[KodePromoID] [int] NULL,
 CONSTRAINT [PK_TransaksiHeader] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Akun] ADD  DEFAULT ((0)) FOR [MerupakanAdmin]
GO
ALTER TABLE [dbo].[Bandara]  WITH CHECK ADD  CONSTRAINT [FK_Bandara_Negara] FOREIGN KEY([NegaraID])
REFERENCES [dbo].[Negara] ([ID])
GO
ALTER TABLE [dbo].[Bandara] CHECK CONSTRAINT [FK_Bandara_Negara]
GO
ALTER TABLE [dbo].[JadwalPenerbangan]  WITH CHECK ADD  CONSTRAINT [FK_JadwalPenerbangan_BandaraKeberangkatan] FOREIGN KEY([BandaraKeberangkatanID])
REFERENCES [dbo].[Bandara] ([ID])
GO
ALTER TABLE [dbo].[JadwalPenerbangan] CHECK CONSTRAINT [FK_JadwalPenerbangan_BandaraKeberangkatan]
GO
ALTER TABLE [dbo].[JadwalPenerbangan]  WITH CHECK ADD  CONSTRAINT [FK_JadwalPenerbangan_BandaraTujuan] FOREIGN KEY([BandaraTujuanID])
REFERENCES [dbo].[Bandara] ([ID])
GO
ALTER TABLE [dbo].[JadwalPenerbangan] CHECK CONSTRAINT [FK_JadwalPenerbangan_BandaraTujuan]
GO
ALTER TABLE [dbo].[JadwalPenerbangan]  WITH CHECK ADD  CONSTRAINT [FK_JadwalPenerbangan_Maskapai] FOREIGN KEY([MaskapaiID])
REFERENCES [dbo].[Maskapai] ([ID])
GO
ALTER TABLE [dbo].[JadwalPenerbangan] CHECK CONSTRAINT [FK_JadwalPenerbangan_Maskapai]
GO
ALTER TABLE [dbo].[PerubahanStatusJadwalPenerbangan]  WITH CHECK ADD  CONSTRAINT [FK_PerubahanStatus_Jadwal] FOREIGN KEY([JadwalPenerbanganID])
REFERENCES [dbo].[JadwalPenerbangan] ([ID])
GO
ALTER TABLE [dbo].[PerubahanStatusJadwalPenerbangan] CHECK CONSTRAINT [FK_PerubahanStatus_Jadwal]
GO
ALTER TABLE [dbo].[PerubahanStatusJadwalPenerbangan]  WITH CHECK ADD  CONSTRAINT [FK_PerubahanStatus_Status] FOREIGN KEY([StatusPenerbanganID])
REFERENCES [dbo].[StatusPenerbangan] ([ID])
GO
ALTER TABLE [dbo].[PerubahanStatusJadwalPenerbangan] CHECK CONSTRAINT [FK_PerubahanStatus_Status]
GO
ALTER TABLE [dbo].[TransaksiDetail]  WITH CHECK ADD  CONSTRAINT [FK_TransaksiDetail_Header] FOREIGN KEY([TransaksiHeaderID])
REFERENCES [dbo].[TransaksiHeader] ([ID])
GO
ALTER TABLE [dbo].[TransaksiDetail] CHECK CONSTRAINT [FK_TransaksiDetail_Header]
GO
ALTER TABLE [dbo].[TransaksiHeader]  WITH CHECK ADD  CONSTRAINT [FK_TransaksiHeader_Akun] FOREIGN KEY([AkunID])
REFERENCES [dbo].[Akun] ([ID])
GO
ALTER TABLE [dbo].[TransaksiHeader] CHECK CONSTRAINT [FK_TransaksiHeader_Akun]
GO
ALTER TABLE [dbo].[TransaksiHeader]  WITH CHECK ADD  CONSTRAINT [FK_TransaksiHeader_Jadwal] FOREIGN KEY([JadwalPenerbanganID])
REFERENCES [dbo].[JadwalPenerbangan] ([ID])
GO
ALTER TABLE [dbo].[TransaksiHeader] CHECK CONSTRAINT [FK_TransaksiHeader_Jadwal]
GO
ALTER TABLE [dbo].[TransaksiHeader]  WITH CHECK ADD  CONSTRAINT [FK_TransaksiHeader_KodePromo] FOREIGN KEY([KodePromoID])
REFERENCES [dbo].[KodePromo] ([ID])
GO
ALTER TABLE [dbo].[TransaksiHeader] CHECK CONSTRAINT [FK_TransaksiHeader_KodePromo]
GO
USE [master]
GO
